.grid{
    width: 100%;
    margin: 0px auto;
}
.wide{
    width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-pc{
    padding-left: 12px;
    padding-right: 12px;
}
.col-pc1{
   width: 8.3334%;
   flex: 0 0 8.3334%;
}
.col-pc2{
    width: 16.6667%;
    flex: 0 0 16.6667%;
 }
 .col-pc3{
    width: 25%;
    flex: 0 0 25%;
 }
 .col-pc4{
    width: 33.3334%;
    flex: 0 0 33.3334%;
 }
 .col-pc5{
    width: 41.6667%;
    flex: 0 0 41.6667%;
 }
 .col-pc6{
    width: 50%;
    flex: 0 0 50%;
 }
 .col-pc7{
    width: 58.3334%;
    flex: 0 0 58.3334%;
 }
 .col-pc8{
    width: 66.6667%;
    flex: 0 0 66.6667%;
 }
 .col-pc9{
    width: 75%;
    flex: 0 0 75%;
 }
 .col-pc10{
    width: 83.3334%;
    flex: 0 0 83.3334%;
 }
 .col-pc11{
    width: 91.6667%;
    flex: 0 0 91.6667%;
 }
 .col-pc12{
    width: 100%;
    flex: 0 0 100%;
 }